@import "tailwindcss";

html,
body {
  overflow-x: hidden;
}

:root {
  --bg: white;
  --text: black;
}

body.dark {
  --bg: black;
  --text: white;
}

body.light {
  --bg: white;
  --text: black;
}

.theme-bg {
  background-color: var(--bg);
}

.theme-text {
  color: var(--text);
}

.dark {
  background-color: black;
  color: white;
}

.light {
  background-color: white;
  color: black;
}